.app {
    background-color: var(--primary-color);
    font-family: var(--font-base);
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 1.7rem;
    }
}

.app__main {
    padding-top: 85px;
    min-height: 100vh;
    @media screen and (min-width: 2000px) {
        padding-top: 95px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 100px;
}